/* Ron's Font */
/* Nick Matavka */
@font-face{
 font-family: Rons;
 src: url('./Rons/RegularExtended.ttf') format('truetype'),
      url('./Rons/Regular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}
